<%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mt-4">To Do List</h1>
            <div class="row" id="tasks"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form id="add-new-task">
                <input id="task-content">
                <button id="submit-new-task" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>